<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.music.mapper.AlbumMapper">
		<sql id="search_box">
			<trim prefix="(" suffix=") AND " prefixOverrides="OR">
				<if test="keyword != null">
					name like '%'||#{keyword}||'%'
				</if>
			</trim>
		</sql>

	
  	<insert id="insertAlbum">
  		<selectKey keyProperty="abno" order="BEFORE" resultType="int">
  			select album_m_seq.nextval from dual
  		</selectKey>
  		insert into album_m (abno, name, detail, price, singer, image, pbno) 
		values (#{abno},#{name},#{detail},#{price},#{singer},#{image},#{pbno})

  	</insert>
  	
  	<select id="listAlbum" resultType="com.music.domain.AlbumVO">
		<![CDATA[
			select /*+ index_desc(album_m album_m_pk) */ * from album_m where abno > 0
		]]>
	</select>
	
	<select id="readAlbum" resultType="com.music.domain.AlbumVO">
		select * from album_m where abno = #{abno}
	</select>
  <select id="readAlbum_single" resultType="com.music.domain.AlbumVO">
		<![CDATA[
		select rownum, pbno, abno, name, singer, detail, price, image, regdate,
			tbno, tdetail, genre, tname, tprice, songname, songrealname, duration, length
		from (SELECT * FROM album_single ORDER BY pbno asc
			) 
		where rownum > 0 and abno = #{abno}
  	]]>
  </select>
  	<select id="listNewly" resultType="com.music.domain.AlbumVO">
  		<![CDATA[
  		select * from newly where rownum < 15 order by tbno desc
  		]]>
  	</select>
  	
  	<select id="searchAlbumWithTrackName" resultType="com.music.domain.AlbumVO">
  		<![CDATA[
  		select * from album_single where tname like '%'||#{tname}||'%'
  		]]>
  	</select>
  	
  	<select id="getCountLikes" resultType="com.music.domain.AlbumVO">

	select a.pbno, a.name, a.singer,a.image_240, abno, count(likes) likes
	from album_m a, like_m l
	where l.pbno = a.pbno
	group by a.pbno, a.name, a.singer,a.image_240, abno
	order by likes desc

  	</select>
  	
  	<select id="calTotalLength" resultType="String">
  		select 
        LPAD ((TRUNC (sum(duration) / 60)), 2, '0')
       || ':'
       || LPAD ((MOD (sum(duration), 60)), 2, '0')
        as totallength from track_m t where abno = #{abno}
  	</select>
  	
  	
<!--   	어드민 -->
  	<select id="viewAlbum" resultType="com.music.domain.AlbumVO">
			select * from 
		( 
			select /*+ index_desc(album_m album_m_pk) */ rownum rn, abno, name, singer, detail, price, image, image_240, image_50, regdate, pbno from album_m 
			)
			where abno = #{abno}
	</select>
  	<select id="viewAlbumListWithPaging" resultType="com.music.domain.AlbumVO">
		<![CDATA[
			select * from 
		( 
			select /*+ index_desc(album_m album_m_pk) */ rownum rn, abno, name, singer, detail, price, image, regdate, pbno from album_m 
			where 
		]]>
		<include refid="search_box"></include>
		<![CDATA[			
					rownum <= #{amount} * #{pageNum}  order by regdate desc
				) 
			where rn > #{amount} * (#{pageNum}-1)
		]]>
	</select>
	
	<select id="countAlbum" resultType="int">
			select count(*) from album_m a where 
			<include refid="search_box"></include>
			abno > 0
	</select>
	
	<select id="topAlbums" resultType="com.music.domain.AlbumVO">
	
	<![CDATA[
	select rownum, tbno, name, singer, image_50, likes, pbno, length
	from (select * from toptrack order by likes desc)
	where rownum < 16
	 ]]>
	 </select>

	<update id="updateAlbum">
		update album_m set 
		name=#{name}, singer=#{singer}, detail=#{detail}, price=#{price}, 
		image=#{image}, image_240=#{image_240}, image_50=#{image_50}, regdate=#{regdate} 
		where abno = #{abno}
	</update>
	
	<select id="selectAlbumWithPbno" resultType="com.music.domain.AlbumVO">
		select * from album_m where pbno=#{pbno}
	</select>
	
</mapper>