<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.music.mapper.CartMapper">
	
	<insert id="insertCart">
		<selectKey keyProperty="cbno" resultType="int" order="BEFORE">
			select cart_m_seq.nextval from dual
		</selectKey>
		insert into cart_m (cbno, id, pbno) values (#{cbno}, #{id}, #{pbno})
	</insert>
	

	<select id="selectCartList" resultType="com.music.domain.CartVO">
		select * from cart_m where id = #{id}
	</select>

	<select id="cartList" resultType="com.music.domain.CartVO">
		select
		      row_number() over(partition by c.pbno order by c.cbno desc) as num,
             c.pbno, c.cbno, c.id, c.quantity, c.putdate,
		     a.price as aprice, t.price as tprice, a.name,  a.image, a.abno,
		     t.name as tname, t.pbno as tpbno
		 from cart_m c
		     inner join product_m p 
		         on c.pbno = p.pbno 
		    inner join album_m a
		        on c.pbno = a.pbno 
		    inner join track_m t
		        on a.abno = t.abno
		where c.id = #{id}

	</select>
	
	<delete id="deleteOneCart">
		delete from cart_m where id=#{id} and cbno=#{cbno}
	</delete>

	<delete id="deleteOneCartWithPbno">
		delete from cart_m where id=#{id} and pbno=#{pbno}
	</delete>
	
	<delete id="deleteCart">
		delete from cart_m where id=#{id}
	</delete>
	
	<select id="viewCartlist" resultType="com.music.domain.CartVO">
	select c.cbno, c.id, c.pbno, c.quantity, c.result, c.putdate, 
    a.abno, a.name as aname, a.singer, a.price as aprice, a.image, a.pbno as apbno, a.image_240, a.image_50, t.tbno,
    t.name as tname, t.price as tprice, t.pbno as tpbno, p.category, t.image as timage 
	from cart_m c, album_m a, view_track_m t, product_m p 
  where c.pbno = a.pbno(+) 
  and c.pbno = t.pbno(+) 
  and p.pbno = c.pbno and id=#{id}
	</select>
	

</mapper>