<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.music.mapper.CreatePlaylistMapper">
	<select id="viewTrackList" resultType="com.music.domain.TrackVO">
		select * from track_m
	</select>
	
	<select id="viewTrackList5" resultType="com.music.domain.TrackVO">
		<![CDATA[
			select * from track_m where rownum <= 5
		]]>
	</select>
	
	<select id="selectPlaylist" resultType="com.music.domain.PlaylistVO">
		select * from view_playlist where plbno = #{plbno}
	</select>
	
	<select id="selectPlaylistwithId" resultType="com.music.domain.PlaylistVO">
		select * from view_playlist where id = #{id}
	</select>
	
	<select id="readPlaylistsWithId">
		select pl.name as name, pl.id as id, pl.plbno as plbno, count(pd.pdbno) as pdbno  
    from playlist_detail_m pd, playlist_m pl
    where pl.plbno = pd.plbno
		group by pl.name, pl.id, pl.plbno
		having id = #{id}
	</select>
	
	<select id="selectBasicPlaylistPrimaryKey" resultType="int">
		select plbno from playlist_m where name = 'basic_playlist' and id = #{id}
	</select>
	
	
	
	<insert id="insertBasicPlaylist">
		<selectKey keyProperty="plbno" order="BEFORE" resultType="int">
			select playlist_m_seq.nextval from dual
		</selectKey>
		
		insert into playlist_m (plbno, id, name) values (#{plbno}, #{id}, 'basic_playlist')
	</insert>
	
	

</mapper>