<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.music.mapper.ProductMapper">

  	<select id="listProduct" resultType="com.music.domain.ProductVO">
		<![CDATA[
			select /*+ index_desc(product_m product_m_pk) */ * from product_m where pbno > 0
		]]>
	</select>
	
	<select id="selectOneProduct" resultType="com.music.domain.ProductVO">
		<![CDATA[
			select * from product_m where pbno =#{pbno}
		]]>
	</select>

  	<select id="searchPbno" resultType="int">
		<![CDATA[
			select MAX(pbno) as pbno from product_m
		]]>
	</select>
	
	<select id="searchAbno" resultType="com.music.domain.AlbumVO">
		<![CDATA[
			select /*+ index_desc(album_m album_m_pk) */ name, abno from album_m
		]]>
	</select>

  	<insert id="insertProduct">
  		<selectKey keyProperty="pbno" order="BEFORE" resultType="int">
  			select product_m_seq.nextval from dual
  		</selectKey>
  		insert into product_m(pbno, category) 
		values (#{pbno},#{category})
  	</insert>

  	<insert id="insertAlbum">
  		<selectKey keyProperty="abno" order="BEFORE" resultType="int">
  			select album_m_seq.nextval from dual
  		</selectKey>
  		insert into album_m(abno, name, singer, detail, price, image, image_240, image_50, regdate, pbno) 
		values (#{abno},#{name},#{singer},#{detail},#{price},#{image}, #{image_240}, #{image_50}, #{regdate},#{pbno})
  	</insert>

  	<insert id="insertTrack">
  		<selectKey keyProperty="tbno" order="BEFORE" resultType="int">
  			select track_m_seq.nextval from dual
  		</selectKey>
  		insert into track_m (tbno, abno, name, genre, detail, price, songname, songrealname, pbno, duration) 
		values (#{tbno},#{abno},#{name},#{genre},#{detail},#{price},#{songname}, #{songrealname}, #{pbno}, #{duration})
  	</insert>

  	<insert id="insertGoods">
  		<selectKey keyProperty="gbno" order="BEFORE" resultType="int">
  			select goods_m_seq.nextval from dual
  		</selectKey>
  		insert into goods_m(gbno, abno, price, amount,pbno) 
		values (#{gbno},#{abno},#{price},#{amount},#{pbno})
  	</insert>
  	
  	<delete id="deleteProduct">
  		delete from product_m where pbno = #{pbno}
  	</delete>
  	
</mapper>