@charset "UTF-8";

ul.pro_dropdown_menu {
	right: 10px;
	top: 100%;
}

.ms_banner_text {
	padding-left: 30px;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
	color: #fff;
	background-color: #2cc8e5;
	font-size: 22px;
	border-radius: 20px;
}

.nav-pills .nav-link.active, .nav-pills {
	border-radius: 20px;
}

.nav-link {
	display: block;
	padding: 10.5rem 1rem;
	border-radius: 20px;
}

.upload-tab-bar {
	width: 56%;
	margin: 0 auto;
	text-align: center;
	display: inline-block;
	border-radius: 15px;
}

/* imaged preview */
.filebox label {
	display: inline-block;
	padding: .5em .75em;
	color: #999;
	font-size: inherit;
	line-height: normal;
	vertical-align: middle;
	background-color: #fdfdfd;
	cursor: pointer;
	border: 1px solid #ebebeb;
	border-bottom-color: #e2e2e2;
	border-radius: .25em;
}

.filebox input[type="file"] {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

.filebox label {
	display: inline-block;
	padding: .5em .75em;
	color: #999;
	font-size: inherit;
	line-height: normal;
	vertical-align: middle;
	background-color: #fdfdfd;
	cursor: pointer;
	border: 1px solid #ebebeb;
	border-bottom-color: #e2e2e2;
	border-radius: .25em;
} /* named upload */
.upload-name {
	display: inline-block;
	padding: .5em .75em; /* label의 패딩값과 일치 */
	font-size: inherit;
	font-family: inherit;
	line-height: normal;
	vertical-align: middle;
	background-color: #f5f5f5;
	border: 1px solid #ebebeb;
	border-bottom-color: #e2e2e2;
	border-radius: .25em;
	-webkit-appearance: none; /* 네이티브 외형 감추기 */
	-moz-appearance: none;
	appearance: none;
	width:210px;
}

/* imaged preview */
.filebox .upload-display {  /* 이미지가 표시될 지역 */
  margin-bottom: 5px;
}

@media(min-width: 768px) { 
  .filebox .upload-display {
    display: inline-block;
    border-radius: 15px;
        margin-right: 5px;
    margin-bottom: 0;
  }
}

.myMusicForPlaylist {
    display: none;
    overflow: hidden;
}

.myMusicForPlaylist-dialog {
    max-width: 930px;
    width: 100%;
}

.instantTableMaker{
	overflow: auto;
  height: 255px;
  overflow-x: hidden;
  background-color: #14182a;
  margin-top: 15px;
  border-radius: 20px;
}

.instant_table_wrapper{
	display:none;
	overflow: auto;
  height: 255px;
  overflow-x: hidden;
  background-color: #14182a;
  margin-top: 15px;
  border-radius: 20px;
}

.add_playlist_btn{
	margin:30px;
	margin-left:900px;
}

.musicSearch_on{
	font-size: 14px;
}

.padding_top_10{
	padding-top: 10px;
}

.click_for_playlist{
}

.click_for_playlist:hover {
	background: #313a68;
}


.filebox .upload-thumb-wrap {  /* 추가될 이미지를 감싸는 요소 */
  display: inline-block;
  width: 100px;
  padding: 2px;
  vertical-align: middle;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
}

.filebox .upload-display img {  /* 추가될 이미지 */
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
}

.auth-table {
	text-align: center; 
	margin:30px; 
	width: 60%;
}

.ms_input_group1 {
	width: 76%;
}

.album_review_selector{
 height:40px; padding:5px; width:160px; padding-left: 20px; font-size: 16px;
}

.album_favou_box{
right: 45px;
top: 23px; position:absolute;
cursor: pointer;
}

.single_track_tr > li {

}

.playlist-name{
    background: #14182a;
    border: none;
    color: white;
}

.rename_button{
	font-size: 16px;
}

.album_list_wrapper ul li {
	padding:10px;
	
}

.cart-table tr{
	padding-top: 15px;
	
}

